body, html {
  margin: 0;
  padding: 0;
}

* {
  color: #000;
  letter-spacing: 0.1em;
}

.learn-more-btn {
  cursor: pointer;
  width: 265px;
  height: 60px;
  background: linear-gradient(180deg, #01159C 0%, #3C4AEF 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  border-radius: 35px;
  font-size: 16px;
}

button {
  transition: transform 0.3s;
}

button:hover {
  transform: scale(0.95,0.95);
}

/*** NAVBAR SECTION ***/
#logo {
  font-family: 'Bungee', 'sans-serif';
  font-size: 32px;
  margin-left: 20px;
}

.navbar-burger {
  margin-right: 20px;
}

#navbarBasicExample a{
  font-weight: 500;
  letter-spacing: 0.1em;
}

.navbar-start > .navbar-item {
  margin-left: 30px;
}

/*** HOME SECTION ***/
#section-home .hero-body {
  height: 800px;
  background-image: url("../assets/home-pc.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: -290px 30px;
}

#section-home .hero-body .column {
  text-align: center;
}

.home-hero-div {
  display: inline-block;
  text-align: left;
}

.learn-more-btn {
  margin-top: 40px;
}

.home-hero-div h1 {
  font-weight: 700;
  font-size: 52px;
}

.home-hero-div p {
  font-size: 32px;
  font-weight: 500;
}

#section-home .hero-body .columns {
  margin-top: 50px;
}

.small-pc-image {
  display: none;
  height: 0;
  width: 100%;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 97.70%;
  background-image: url("../assets/home-pc.jpg");
}

@media (max-width: 768px) {
  .small-pc-image {
    display: block;
  }

  .home-hero-div {
    margin-top: -80px;
    text-align: center;
  }

  #section-home .hero-body {
    background-image: none;
    height: 1000px;
  }
}

/*** PRODUCTS SECTION ***/
#section-products {
  background-color: rgb(248, 248, 248);
}

#section-products div {
  text-align: center;
}

.product-img {
  max-width: 80%;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.product-btn {
  display: block;
  margin: 0px auto;
  cursor: pointer;
  margin-top: 30px;
  background-color: transparent;
  color: #3C4AEF;
  font-weight: bold;
  border: 3px solid #3C4AEF;
  border-radius: 100px;
  height: 40px;
  width: 145px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .product-img {
    max-width: 60%;
  }
}

/*** DETAILS SECTION ***/
#section-brand-details {
  background: url(../assets/details-background.png);
}

#section-brand-details div {
  text-align: center;
}

.detail-svg {
  height: 120px;
}

.detail-header, .detail-text {
  color: white;
}

.detail-header {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
}

.detail-text {
  letter-spacing: 0;
}

.desc-button {
  display: block;
  margin: 0px auto;
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 40px;
  width: 145px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

/*** CUSTOMIZATION SECTION ***/
#section-customize .video-bg {
  position: absolute;
  top: 1600px;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#section-customize .is-6 {
  text-align: left;
  margin: auto 0;
}

#section-customize h1 {
  font-weight: 700;
  font-size: 46px;
}

#section-customize .is-6 {
  margin: auto 0;
}

#section-customize p {
  font-size: 28px;
  letter-spacing: 0;
}

#section-customize img {
  transform: scaleX(-1);
  min-width: 480px;
}

@media (max-width: 768px) {
  #section-customize .is-6 {
    text-align: center;
  }

  #section-customize {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/customize-bg.jpg");
  }
}

/*** TWITCH/DISCORD SECTION ***/
#section-twitch-discord {
  background: url(../assets/xyfr-twitch-discord.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section-twitch-discord .column {
  text-align: center;
  margin: auto;
}

#section-twitch-discord .fl-2 {
  margin-top: 40px;
}

#section-twitch-discord p {
  text-align: center;
  color: white;
  font-size: 22px;
  letter-spacing: 0;
}

#section-twitch-discord .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #discord-img {
    margin-top: 60px;
  }
  .ordered-mobile {
    display: flex;
    flex-flow: column;
  }
  .ordered-mobile .fl-1 {
    order: 1;
  }
  .ordered-mobile .fl-2 {
    order: 2;
  }
  .ordered-mobile .fl-3 {
    order: 3;
  }
}

/*** REVIEWS SECTION ***/
#section-reviews {
  height: 700px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
}

#section-reviews #reviews-background {
  float: right;
}

#reviews-background {
  background-image: url('../assets/red-pc.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  width: 50%;
  position: relative;
  overflow: hidden;
}

#reviews-content {
  float: left;
  background-color: #fff;
  color: #fff;
  height: inherit;
  width: 50%;
  position: relative;
}

#reviews-content::after {
  border-bottom-color: #fff;
  border-top-color: #fff;
  content: "";
  position: absolute;
  top: 0px;
  right: -120px;
  border-bottom: 700px solid #fff;
  border-right: 120px solid transparent;
  height: 0;
  width: 0;
  z-index: 2;
}

#reviews {
  z-index: 5;
  padding: 20% 5%;
  text-align: center;
}

#section-reviews h1 {
  font-weight: 700;
  font-size: 34px;
}

#section-reviews h2 {
  font-weight: 500;
  font-size: 30px;
}

#section-reviews p {
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0em;
  margin: 15px 0;
}

#section-reviews a {
  color: black;
  text-decoration: none;
}

.slick-slide {
  height: 225px !important;
}

@media only screen and (max-device-width: 1366px) {
  .reviews-background {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  #section-reviews h1 {
    font-size: 28px;
  }

  #section-reviews h2 {
    font-size: 24px;
  }

  .slick-slide {
    height: 270px !important;
  }

  #reviews {
    padding: 40% 5%;
  }
}

/*** AWARDS SECTION ***/
#section-awards {
  height: 700px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
}

#section-awards #awards-background {
  float: left;
}

#awards-background {
  background-image: url('../assets/blue-pc.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 50%;
  position: relative;
  overflow: hidden;
}

#awards-content {
  float: right;
  background-color: rgb(26, 18, 36);
  color: rgb(26, 18, 36);
  height: inherit;
  width: 50%;
  position: relative;
  text-align: center;
}

#awards-content::after {
  border-bottom-color: rgb(26, 18, 36);
  border-top-color: rgb(26, 18, 36);
  content: "";
  position: absolute;
  top: 0px;
  left: -120px;
  border-bottom: 700px solid rgb(26, 18, 36);
  border-left: 120px solid transparent;
  height: 0;
  width: 0;
  z-index: 2;
}

#awards {
  padding: 20% 0;
  margin: 0 auto;
  text-align: center;
}

#awards h1 {
  color: white;
  font-size: 34px;
  font-weight: bold;
}

#section-awards .is-mobile {
  display: none;
}

@media only screen and (max-device-width: 1366px) {
  .awards-background {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) { 
  #section-awards .is-mobile {
    display: flex;
  }

  #section-awards .desktop {
    display: none;
  }
}

/*** FOOTER ***/
.footer {
  background-color: rgb(14, 14, 14);
}

.footer .column {
  color: white;
}

.footer .column {
}

.footer .column ul {
  margin: 10px 0;
}

ul li {
  list-style: none;
  color: white;
}

.footer #logo {
  margin: 0;
  color: white;
}

.footer .is-mobile {
  display: none;
}

.columns svg {
  font-size: 30px;
}

.columns path {
  color: white;
}

.columns a:not(:last-child) {
  margin-right: .5em;
}

.social-links {
  text-align: center;
  position: relative;
  left: 120px;
}

.social-links-mobile {
  position: absolute;
  bottom: 25;
}

@media (max-width: 768px) { 
  .footer .is-mobile {
    display: flex;
  }

  .footer .desktop {
    display: none;
  }
}